
header {
  position: sticky;
  background-color: black;
  width: 100%;
  top: 0px;
}
body {
  margin: 0px;
  background-color: black;
  color: white;
}
.start {
  display: inline-block;
  font-size: 25px;
}
h2,
h1 {
  text-align: center;
}
.person {
  display: flex;
  flex-wrap: wrap;
}
.hoto {
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
}
.ludi {
  transition: all 0.5s;
  padding: 5px;
  border: 3px solid purple;
  margin: 50px;
  border-radius: 20px;
  background-color: slategrey;
  color:black;
}
.lol {
  margin-bottom: 50px;
}
nav {
  display: flex;
  justify-content: space-around;
}
.film {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
}
.prosmotr {
  display: flex;
  flex-wrap: wrap;
}
.fil {
  transition: all 0.5s;
  margin: 50px;
  padding: 5px;
  border: 3px solid rgb(0, 255, 234);
  border-radius: 20px;
  background-color: blueviolet;
}
.gam {
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
}
.games {
  display: flex;
  flex-wrap: wrap;
}
.game {
  transition: all 0.5s;
  margin: 50px;
  padding: 5px;
  border: 3px solid rgb(157, 255, 0);
  border-radius: 20px;
  background-color: rgb(255, 63, 121);
}
.music {
  display: flex;
  flex-wrap: wrap;
}
.musi {
  transition: all 0.5s;
  margin: 50px;
  padding: 5px;
  border: 3px solid rgb(255, 72, 0);
  border-radius: 20px;
  background-color: rgb(0, 255, 21);
}
.mus {
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
}
footer {
  color: white;
}

.svet {
  background-color: white;
  color: black;
}

.ludi:hover {
  border: 3px solid red;
  background-color: blue;
  cursor: pointer;
}
.fil:hover {
  border: 3px solid blue;
  background-color: rgb(119, 10, 10);
}
.game:hover {
  border: 3px solid rgb(0, 255, 21);
  background-color: rgb(10, 79, 119);
  cursor: pointer;
}
.musi:hover {
  border: 3px solid rgb(0, 255, 55);
  background-color: rgb(209, 1, 140);
  cursor: pointer;
}

.socicon {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  display: inline-block;
  margin: 0 15px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.vk:hover {
  background-color: #0077ff;
}
.tg:hover {
  background-color: #0088cc;
}
a {
  color: red;
}

@media  (max-width: 375px) {
 .lol {
  width: 100%;
 }
}
@media (min-width: 376px) and (max-width:960px) {
  .lol {
    width: 75%;
  }
}
@media (min-width: 961px) and (max-width:1600px) {
  .lol {
    width: 50%;
  }
}
.modal{
  color: black;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}


.glow-on-hover1 {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover1:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover1:active {
  color: #000
}

.glow-on-hover1:active:after {
  background: transparent;
}

.glow-on-hover1:hover:before {
  opacity: 1;
}

.glow-on-hover1:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}


@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
