html { background-color: black; color: white;}
header{ position: fixed; background-color: black; width: 100%;}
body{margin: 0px; display: flex; color: white;}
h1{text-align: center;}
.start { display: inline-block; font-size: 25px; }
.lol{margin-bottom: 50px;}
main{width: 100%;}
footer{ color: white;}
.socicon { 
    width: 70px; 
    height: 70px; 
    border-radius: 100%; 
    display: inline-block; 
    margin: 0 15px; 
    cursor: pointer; 
    transition: background-color 0.5s; 
  }
  .vk:hover { 
    background-color: #0077ff;
  }
  .tg:hover { 
    background-color: #0088cc; 
  } 
  iframe{margin: 50px 0px 50px 0px;}
  a{color: red;}